[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyqt5 = "*"
pyautogui = "*"
pandas = "*"
openpyxl = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
scipy = "*"
h5py = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
